mixin dialogCardMixin(data)
    div(class="main-block__dialog-card boxshadow-block main-block__layout layout_light_secondary display_flex")
        img(class="img img-radius img_size_S dialog-card__img display_flex" src=data.chatPhoto)
        div(class="dialog-card__body display_flex_row")
            div(class="display_flex_column dialog-card__message-text")
                if data.isGroupChat
                    a(class="text text_size_XM text_weight_bold dialog-card__body__username" href='chat/' + data.chatId section='chat/' + data.chatId) #{data.chatName}
                else
                    a(class="text text_size_XM text_weight_bold dialog-card__body__username" href='chat/' + data.chatId section='chat/' + data.chatId) #{data.privateName} #{data.privateSurname}
                span(class="text text_size_M text_weight_light display_flex")
                    if data.lastMessageTxt
                        img(class="img img-radius img_size_XXS dialog-card__img" src=data.lastMessageAuthorPhoto)
                        div(class="display_flex_column")
                            div
                                b Сообщение -
                                span #{data.lastMessageTxt}
                            div
                                b #{data.lastMessageAuthorName} #{data.lastMessageAuthorSurname}
                                span в #{data.lastMessageTime}
            div(class="display_flex_column dialog-card__info")
                if !data.isGroupChat
                    if (data.onlineStatus)
                        span(class="text text_size_M text_weight_light text_uppercase") В сети
                    else
                        span(class="text text_size_M text_weight_light text_uppercase") не в сети
                if (data.chatCounter)
                    span(class="text text_size_M text_weight_light text_uppercase") Сообщений:
                        span(class="text_weight_bold") #{data.chatCounter}
