mixin baseForm(data)
        form(action="#", class="display_flex " + data.classes, id=data.id)
            div(class="form__body form_light display_flex_column")
                if (data.title)
                    span(class="form__name text text_size_L") #{data.title}
                else
                    span(class="form__name text text_size_L") #{data.buttonName}
                each item in data.formItems
                    if item.type !== 'hidden'
                        div(class="display_flex_row")
                            div(class="display_flex_column")
                                div(class="text text_form " + item.class)
                                    span(class="form__field-title") #{item.title}
                                div(class="form__input-and-icon display_flex_row")
                                    div(class="input__icon-container display_flex")
                                        i(class="input__icon display_flex form__input__icon " + item.fa_item)
                                    if item.required
                                        input(type=item.type, name=item.name, required, id=item.name,placeholder=item.placeholder class="input form__input display_flex")
                                    else
                                        input(type=item.type, name=item.name, id=item.name,placeholder=item.placeholder class="input form__input display_flex")
                                    div(id="error-"+item.name class="form__error form-error__anim display_flex").hidden
                                        span(class="text text_size_M error__tooltip_pink form__error__tooltip", id="tooltip-"+item.name, data-tooltip=item.errorMsg) !
                    else
                        div(class="display_flex_row")
                            div(class="display_flex_column")
                            if item.required
                                input(type=item.type, name=item.name, required, id=item.name,placeholder=item.placeholder class="input form__input display_flex")
                            else
                                input(type=item.type, name=item.name, id=item.name,placeholder=item.placeholder class="input form__input display_flex")
                div(class="form__buttons-group display_flex")
                    if data.secondButtonName
                        button(type="reset", form=data.id, class='button form__button button_orange display_flex') #{data.secondButtonName}
                    input(type="submit", value=data.buttonName, class="button button_light-blue form__button display_flex")

