mixin messageMixin(data)
    div(class="message boxshadow-block main-block__layout layout_light_secondary display_flex_column")
        div(class="post__header display_flex_row")
            img(class="img img_size_XS post__header__avatar display_flex_column" src=data.authorPhoto)
            div(class="post__header__data display_flex_column")
                a(href = 'user/' + data.authorUrl section = 'user/' + data.authorUrl )
                    span(class="text text_size_M text_color_black") #{data.authorName} #{data.authorSurname}
                span(class="text text_size_S text_color_black text_weight_light") #{data.time}
        div(class="post__body__data display_flex_column")
            div(class="post__body__text display_flex")
                span(class="text post__body__text__p text_color_black") #{data.text}
            if data.photo
                img(class="post__body__img display_flex" src=data.photo.url)

