mixin userSmallMediaMixin(data)
    div(class="boxshadow-block main-block__user__user-media main-block__layout layout_light_secondary display_flex_column")
        div(class="main-block__user__user-media__header display_flex_row")
            span(class="text text_size_M text_color_black text_uppercase") фотографии
            a(href="media", section="media" class="display_flex")
                <i class="text text_size_L icon icon__color__main fas fa-bars"></i>
        div(class="hr-line")    
        div(class="main-block__user__user-media__album-rows display_flex_column")
            div(class="main-block__user__user-media__album-row display_flex_row")
                a(href=data.media[0].link, section=data.media[0].link)
                    img(src=data.media[0].src class="img img_size_S main-block__user__user-media__img display_flex")
                a(href=data.media[0].link, section=data.media[0].link)
                    img(src=data.media[0].src class="img img_size_S main-block__user__user-media__img display_flex")
                a(href=data.media[0].link, section=data.media[0].link)
                    img(src=data.media[0].src class="img img_size_S main-block__user__user-media__img display_flex")
            div(class="main-block__user__user-media__album-row display_flex_row")
                a(href=data.media[1].link, section=data.media[1].link)
                    img(src=data.media[1].src class="img img_size_S main-block__user__user-media__img display_flex")
                a(href=data.media[1].link, section=data.media[1].link)
                    img(src=data.media[1].src class="img img_size_S main-block__user__user-media__img display_flex")
                a(href=data.media[1].link, section=data.media[1].link)
                    img(src=data.media[1].src class="img img_size_S main-block__user__user-media__img display_flex")
            div(class="main-block__user__user-media__album-row display_flex_row")
                a(href=data.media[2].link, section=data.media[2].link)
                    img(src=data.media[2].src class="img img_size_S main-block__user__user-media__img display_flex")
                a(href=data.media[2].link, section=data.media[2].link)
                    img(src=data.media[2].src class="img img_size_S main-block__user__user-media__img display_flex")
                a(href=data.media[2].link, section=data.media[2].link)
                    img(src=data.media[2].src class="img img_size_S main-block__user__user-media__img display_flex")
                