mixin userHeader(data, isMe, isFriends)
    div(class="main-block__block boxshadow-block main-block__user__user-header display_flex_column")
        div(class="display_flex layout_light_secondary main-block__user__user-header__background")
            img(src=data.background class="img main-block__user__user-header__img display_flex")
        div(class="main-block__user__user-header__avatar")
            img(src=data.photo class="img img_size_100 main-block__user__user-header__avatar__img display_flex")
        div(class="display_flex layout_light_secondary main-block__user__user-header__main-info")
            div(class="main-block__user__user-header__main-info__text-info display_flex_column")
                span(class="text text_size_M main-block__user__user-header__main-info__text-info__span") Телефон: #{data.telephone}
                span(class="text text_size_M main-block__user__user-header__main-info__text-info__span") Email: #{data.email}
                span(class="text text_size_M main-block__user__user-header__main-info__text-info__span") Дата рождения: #{data.date}
            div(class="display_flex user-header__main-info-and-control")
                div(class="main-block__user__user-header__main-info__name-and-online display_flex_column")
                    span(class="text text_size_SL text_color_black text_weight_bold main-block__user__user-header__main-info__text-info__username-span") #{data.name} #{data.surname}
                    if data.online
                        span(class="text text_color_grey text_uppercase text_size_S main-block__user__user-header__main-info__text-info__online-status-span") В сети
                    else
                        span(class="text text_color_grey text_uppercase text_size_S main-block__user__user-header__main-info__text-info__online-status-span") не в сети

                div(class="main-block__user__user-header__main-info__buttons display_flex_row")
                    if (isMe)
                        a(href="settings", section="settings" class="button button_orange main-block__button display_flex")
                            i(class="text text_size_L icon main-block__user__user-header__icon   fas fa-cogs")
                        a(href="logout", section="logout" class="main-block__button button_blue display_flex")
                            i(class="text text_size_L icon main-block__user__user-header__icon   fas fa-sign-out-alt")
                    else
                        if isFriends
                            span(class='js-friend-button js-remove-friend button button_orange main-block__button display_flex')
                                i(class="text text_size_L icon main-block__user__user-header__icon  fas fa-user-minus")
                        else
                            span(class='js-friend-button js-add-friend user-page__header__control-buttons button button_orange main-block__button display_flex')
                                i(class="text text_size_L icon main-block__user__user-header__icon  fas fa-user-plus")
                        a(href="messages", section="messages" class="main-block__button button_blue display_flex")
                            i(class="text text_size_L icon main-block__user__user-header__icon   fas fa-envelope")
