if page
    div(class='profile page')
        include ../mixins/addPostMixin
        div(class='profile__body')
            div(class='profile__left-block')
                div(class='profile__avatar-and-buttons profile_box layout_color_main')
                    div(class='img profile__avatar-and-buttons__avatar')
                        img(class='profile__avatar-and-buttons__avatar__img' src=user.photo)
                    div(class='profile__avatar-and-buttons__buttons')
                        a(section='settings' href='settings' class='profile__avatar-and-buttons__buttons__button text text_color_for-buttons button button_primary') Настройки
                        a(section='logout' href='logout' class='profile__avatar-and-buttons__buttons__button text text_color_for-buttons button button_primary') Выйти
                div(class='profile__friends profile_box layout_color_main')
                    div(class='profile__info__name-and-online')
                        span(class='text text_color_normal text_uppercase text_size_1-2rem') Друзья
                        a(href='friends' section='friends' class='link text text_color_normal text_size_0-8rem') Смотреть всех
                    div(class='hr-line')
                    div(class='profile__friends__body')
                        each friend in friends
                            div(class='profile__friends__body__element')
                                div(class='img chat-card__info__last-message__img')
                                    img(class='img__img' src=friend.avatar)
                                a(class='mt-1 text text_color_normal text_size_0-8rem profile__friends__body__element__name-surname' href='user/' + friend.url section='user/' + friend.url) #{friend.name} #{friend.surname}
            div(class='profile__body__avatar-place-for-mobile')
                div(class='profile-mobile__avatar-and-buttons profile_box layout_color_main')
                    div(class='img profile-mobile__avatar-and-buttons__avatar')
                        img(class='profile-mobile__avatar-and-buttons__avatar__img' src=user.photo)
                    div(class='profile-mobile__avatar-and-buttons__buttons')
                        a(href='settings' sections='settings' class='profile-mobile__avatar-and-buttons__buttons__button text text_color_for-buttons button button_primary fas fa-cogs')
                        a(href='logout' section='logout' class='profile-mobile__avatar-and-buttons__buttons__button text text_color_for-buttons button button_primary fas fa-sign-out-alt')

                div(class='profile__info profile_box layout_color_main')
                    div(class='profile__info__name-and-online')
                        span(class='text text_color_primary text_size_1-2rem') #{user.name} #{user.surname}
                        span(class='text text_color_normal text_size_0-8rem text_uppercase') В сети
                    div(class='hr-line')
                    div(class='profile__info__data-block')
                        div(class='profile__info__data-block-element')
                            span(class='text text_color_normal') Дата рождения:
                            span(class='profile__info__data-block-element__data text text_color_normal') #{user.date}
                        div(class='profile__info__data-block-element')
                            span(class='text text_color_normal') Email:
                            span(class='profile__info__data-block-element__data text text_color_normal') #{user.email}
                        div(class='profile__info__data-block-element')
                            span(class='text text_color_normal') Номер телефона:
                            span(class='profile__info__data-block-element__data text text_color_normal') #{user.telephone}
                    div(class='hr-line')



            //div(class='profile__media profile_box layout_color_main')
            //    span(class='profile__media__titile text text_color_normal text_uppercase text_size_1-2rem') Альбомы
            //    div(class='hr-line')
            //    div(class='profile__media__body')
            //        each album in data.media
            //            div(class='profile__media__body__album-card')
            //                div(class='img profile__media__body__album-card-img')
            //                    img(class='img profile__media__body__album-card-img__img' src=album.photo)
            //                span(class='profile__media__body__album-card__title text text_color_normal') #{album.title}

            div(class='profile__add-post profile_box layout_color_main')
                span(class='text text_color_normal text_uppercase text_size_1-2rem') Новая запись
                i(class='link text text_color_normal text_size_2rem add-post-button-js fas fa-plus-circle')

            include ../mixins/postList

